<tr>
  <td style='padding: 40px 48px 24px'>
    {{#if logoUrl}}
      <img
        src='{{logoUrl}}'
        alt='{{platformName}}'
        height='32'
        style='display: block; border: 0; max-height: 32px'
      />
    {{else}}
      <p
        style='
          margin: 0;
          font-size: 20px;
          font-weight: 600;
          color: #0a2540;
          letter-spacing: -0.02em;
        '
      >
        {{platformName}}
      </p>
    {{/if}}
  </td>
</tr>
