<table role='presentation' cellspacing='0' cellpadding='0' width='100%'>
  <tr>
    <td align='center'>
      <a
        href='{{ctaUrl}}'
        style='
          display: inline-block;
          padding: 12px 20px;
          font-size: 16px;
          font-weight: 600;
          color: #ffffff;
          text-decoration: none;
          border-radius: 6px;
          background-color: {{brandColor}};
          border: 1px solid {{brandColor}};
        '
      >
        {{ctaLabel}}
      </a>
    </td>
  </tr>
</table>
